.side-nav{
&-container {
  height: 100vh;
}
&-drawer {
  width: 20vw;
  &-item {
      cursor: pointer;
    &:hover{
      background-color: black;
      transition-duration: 500ms;
    }
  }
}
}

.app-name{
  padding: 1vw;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .side-nav {

  &-drawer {
    width: 50vw;
  }
}
}
