/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.loading-spinner{
   display      : flex;
 align-content: center;
 align-items  : center;
 width        : 80vw;
 height       : 70vh;
 justify-content: center;
}
